body{
	background-color: palevioletred;
	background-image: url("imagenes/descarga.png");
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
}

#formulario{
	margin: 0 auto;
	width: 400px;
	background-color: yellowgreen;
	margin-top: 200px;
	padding: 30px;
	border: 5px solid orange;
	border-radius: 15px;
	height: 1200px;
}

#formulario label{
	float: left;
	width: 150px;
	color: white;
}

#formulario input{
	width: 200px;
}

#formulario textarea{
	width: 200px;
}

.campos{
	margin-top: 10px;
}

#botones{
	margin-top: 30px;
	margin-left: 150px;
}

#formulario input[type="submit"], #formulario input[type="reset"]{
	width: 100px;
	background-color: orange;
	color: white;
	border-color: orange;
	cursor: pointer;
}

#formulario input[type="submit"]:hover, #formulario input[type="reset"]:hover{
	background-color: white;
	color: orange;
	border-color: white;
}